/* Services Section Styles */
.services-section {
  padding: 5rem 9%;
  padding-top: 100px;
  background-color: black;
  color: white;
}

.services-section h2 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 3rem;
  color: #b74b4b;
  text-align: center;
}

.services-container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin: 0 auto;
}

.services-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  border-radius: 1rem;
  background-color: #252525;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  transition: transform 0.4s ease;
  cursor: pointer;
}

.services-item:hover {
  transform: translateY(-10px);
  box-shadow: 4px 2px 10px #b74b4b;
}

.services-item h3 {
  font-size: 2.5rem;
  font-weight: 600;
  color: #b74b4b;
}

.services-item p {
  font-size: 1.6rem;
  color: white;
}

.services-link {
  display: flex;
  padding: 10px 20px;
  background-color: black;
  border-radius: 4rem;
  font-size: 1.6rem;
  color: #b74b4b;
  border: 2px solid #b74b4b;
  transition: 0.3s ease;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}

.services-link:hover {
  transform: scale3d(1.03);
  background-color: #ffffff;
  color: black;
  box-shadow: 0 0 25px #b74b4b;
}

/* Responsive Design */
@media (max-width: 995px) {
  .services-section {
    padding: 5rem 4%;
    padding-top: 100px;
  }

  .services-item {
    padding: 1.5rem;
  }

  .services-item h3 {
    font-size: 2rem;
  }

  .services-item p {
    font-size: 1.4rem;
  }

  .services-link {
    font-size: 1.4rem;
    padding: 0.8rem 2.2rem;
  }
}
