.projects-section {
  padding: 4rem 2rem;
  padding-top: 100px;
  background-color: black;
  color: white;
}

.section-title {
  font-size: 3rem;
  text-align: center;
  color: #b74b4b;
  margin-bottom: 2rem;
  font-weight: 700;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 3fr));
  gap: 2rem;
  max-width: 1200px;
}

.project-card {
  background-color: #1e1e1e;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  align-items: center;
}

.project-card:hover {
  transform: scale(1.05);
}

.project-image {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 1rem;
  margin-bottom: 1.5rem;
}

.project-title {
  font-size: 2.4rem;
  color: #b74b4b;
  margin-bottom: 1rem;
}

.project-description {
  font-size: 1.6rem;
  margin-bottom: 1rem;
  color: #e0e0e0;
}

.project-tools {
  font-size: 1.4rem;
  margin-bottom: 1.5rem;
  color: #b74b4b;
}

.project-link {
  display: inline-block;
  padding: 1rem 2.8rem;
  background-color: black;
  border-radius: 4rem;
  font-size: 1.6rem;
  color: #b74b4b;
  letter-spacing: 0.3rem;
  font-weight: 600;
  border: 2px solid #b74b4b;
  transition: 0.3s ease;
  cursor: pointer;
}

.project-link:hover {
  transform: scale3d(1.03);
  background-color: #ffffff;
  color: black;
  box-shadow: 0 0 25px #b74b4b;
}

/* Media Queries */
@media (max-width: 768px) {
  .section-title {
    font-size: 2.5rem;
  }

  .project-title {
    font-size: 2rem;
  }

  .project-description {
    font-size: 1.4rem;
  }

  .project-tools {
    font-size: 1.2rem;
  }

  .project-link {
    font-size: 1.4rem;
  }
}
